.home{
  color: #fff;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background: linear-gradient(
    to top,
    rgba(#000, .93),
    rgba(#000, 1)
  );
  background-position: center center;
  height: 75vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  p{
    font-size: 18px;
    padding: 10px;
    line-height: 1.5;
  }
  .profile-picture{
    overflow: hidden;
    img{
      border-radius: 50%;
      width: 150px;
      height: 150px;
    }
  }
  .ga-link{
    color: red;
  }

  &__text-content{
    width: 50%;
    text-align: center;
    padding-top: 10px;
  }
  .socials{
     
    .social-icons-list{
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      font-size: 40px;
      padding-top: 10px;
      gap: 30px;
      transition: all .2s ease-in-out;

      a{
        color: #fff;
      }
      
    }
    li:hover{
      transform: scale(1.3)
    } 
    
  
  }
  
}  