   @import './nav';
   @import './home';
   @import './about';

   *{
     margin: 0;
     padding: 0;
     box-sizing: border-box;
   }
   
   a, ul, li{
     text-decoration: none;
     list-style: none;
   }
  html{
    font-family: 'Source Sans Pro', sans-serif;

  }
   header {
    width: 100%;
  }  
 .btn{
  outline: none;
  border: none;
  padding: 15px 20px;
  font-weight: bold;
  border-radius: 20px;
  font-size: 18px;
  font-style: bold;
  background-color: yellow;
  margin-top: 10px;
transition: background-color 0.5s ease-out;
  
 }
 .btn:hover{
  background-color: #fff;
  cursor: pointer;
  
 }
 @mixin primary-heading {
  font-size: 36px;
  letter-spacing: 1.5px;
  text-align: center;
 }
